/* ボタンエリア */
.btn-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-top: 12px;
    -webkit-app-region: no-drag;
    margin-bottom: 0;
    padding-bottom: 0;
}

.btn-row {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.btn {
    background: #fff;
    color: #222;
    border: 2px solid #222;
    border-radius: 4px;
    font-family: 'Kosugi Maru', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 8px;
    cursor: pointer;
    box-shadow: 1px 1px 0 #222;
    transition: background 0.2s, color 0.2s, border 0.2s;
    min-width: 60px;
    max-width: 90px;
    white-space: nowrap;
}

.btn-small {
    font-size: 12px;
    padding: 2px 6px;
    min-width: 54px;
    max-width: 80px;
}

.btn:hover {
    background: #eee;
}

/* ウィンドウコントロールボタン */
.close-btn {
    background: #fff;
    color: #222;
    border: 2px solid #222;
    border-radius: 50%;
    font-family: 'Kosugi Maru', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 32px;
    height: 32px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 0 #222;
    margin-right: 2px;
    margin-top: 2px;
    transition: background 0.1s, color 0.1s, border 0.1s;
}

.close-btn:hover {
    background: #eee;
}

.min-btn {
    background: #fff;
    color: #222;
    border: 2px solid #222;
    border-radius: 4px;
    font-family: 'Kosugi Maru', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 32px;
    height: 32px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 0 #222;
    margin-top: 2px;
    transition: background 0.1s, color 0.1s, border 0.1s;
    -webkit-app-region: no-drag;
}

.min-btn:hover {
    background: #eee;
}

/* 詳細エリア */
#detailArea {
    min-width: 110px;
    margin-top: 8px;
    font-size: 6px;
    color: #fff;
    text-align: left;
    line-height: 1.7;
    user-select: none;
}

#detailArea table {
    border: none;
    width: auto;
    background: none;
    color: #fff;
    font-size: 6px;
}

#detailArea td {
    border: none;
    padding: 0 4px 0 0;
    font-size: 18px;
}

#detailArea td:nth-child(2) {
    padding: 0 8px 0 0;
}

#detailArea td:nth-child(4) {
    padding: 0;
} 